@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
.addForm{
    width: 100%;
    height: 230px;
    flex-shrink: 0;
    border-radius:   26px ;
    position: absolute;
    background-color: white;
    /* left: 30%; */
    /* top:20%; */
    
}
.updateForm{
  width: 584px;
  height: 380px;
  flex-shrink: 0;
  border-radius:   26px ;
  
}
.topBorder {
    border-top: solid 73px #ffa000;
    position: inherit;
    border-radius: 26px 26px 0 0;
    left: 0%;
    top: -5%;
    width: inherit;
  }
.title{
    color: var(--white-100, #ffffff);
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 500;
    position: inherit;
    top: 2%;
    right: 40%;
}
.smallText{
    color: #333;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
}
.fieldGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap as needed */
    margin-bottom: 5%;
  }
  
  .field{
    flex:  1;
    min-width: 150px;
    max-width: 190px;
  }
  .nameField{
    flex:  1;
    min-width: 240px;
    max-width: 190px;
  }
  .form{
    position: absolute;
    top:35%;
    width: 100%;
  }
 
  
  .formControl {
    width: 200px;
    height: 28px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #a0a0a0; 
    outline: none; 
    }
  .addButton {
    position: absolute;
    border: none;
    bottom: -30px;
    right: 50px;
    border-radius: 11px;
    background: #ffa000;
    width: 150px;
    height: 36px;
    font-weight: bold;
    color: #FFF;
  }

  .addButton:hover {
    cursor: pointer;
  }
 