@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}
body {
  /* background-color: hsl(240, 4%, 9%); */
  color: white;
}
.main {
  font-family: 'Lexend';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin: 1rem;
}
a {
  text-decoration: none;
}
.headerText {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em 1em;
  font-weight: bold;
  background: none;
  text-align: center;
  color: black;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffcf01;
  padding: 2em 2em;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  border-top: 5px;
  border-width: 10px 0px 0px 0px;
  border-style: solid;
  border-color: #ffca28; /* Changed to Firebase yellow */
}

input {
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: hsla(240, 4%, 9%, 0.473);
  border: 0;
  font-size: 1rem;
  color: white;
  margin-top: 7px;
  width: 300px;
}

input::placeholder {
  color: rgba(245, 245, 245, 0.753);
}
button,
a {
  font-size: 16px;
  padding: 1em;
  background: none;
  cursor: pointer;
  color: #ffa000;
  background: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 300px;
  text-align: center;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: bold;
}

button:hover,
a:hover {
  background: whitesmoke; /* Darker Firebase orange for hover */
}
.homeLink {
  margin-bottom: 1em;
}
.authLink {
  background: transparent;
}
.authLink:hover {
  background: transparent;
  text-decoration: underline;
}
.divider {
  width: 70%;
  height: 2px;
  background-color: #ffa000; /* Changed to Firebase orange */
  margin: 1em 0;
  border-radius: 100%;
}
